@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --primary-color: #42200b;
  --secondary-color: #ffc135;
  --tertiary-color: #df1c1c;
  --text-dark: #212529;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font-1: "Alfa Slab One", serif;
  --header-font-2: "Bebas Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  text-align: center;
  line-height: 3.75rem;
  text-shadow: 2px 2px var(--secondary-color);
}

.section__description {
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--tertiary-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

#js-disabled5 {
  background-color: rgb(254, 123, 123); 
  border: 2px solid rgb(0, 0, 0); 
  text-align: center;
  padding: 10px; 
  color: white; 
  margin: 0 auto; 
  max-width: 400px;}

.header {
  background-image: url("assets/header-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo img {
  max-width: 150px;
}

.nav__logo-dark {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 600;
  white-space: nowrap;
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 600px;
  margin-inline: auto;
}

.header__content h2 {
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font-2);
  color: var(--primary-color);
  border: 2px dashed var(--primary-color);
  text-align: center;
}

.header__content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  line-height: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px var(--white);
}

.header__content h1 span {
  font-size: 3rem;
}

.banner__container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 200px;
}

.banner__card {
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.banner__card:nth-child(1) {
  background-image: url("assets/banner-1.png");
}

.banner__card:nth-child(2) {
  background-image: url("assets/banner-2.png");
}

.banner__card:nth-child(3) {
  background-image: url("assets/banner-3.png");
}

.banner__card p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.banner__card h4 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.order__container h3 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font-2);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.order__container .section__header {
  margin-bottom: 1rem;
}

.order__container .section__description {
  margin-bottom: 2rem;
  text-align: center;
}

.order__grid {
  display: grid;
  gap: 2rem 1rem;
}

.order__card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
}

.order__card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.order__card img {
  max-width: 250px;
  margin-inline: auto;
  margin-bottom: 2rem;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}

.order__card h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.order__card p {
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.event__content {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.event__details {
  text-align: center;
}

.event__details h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--header-font-2);
  color: var(--text-dark);
}

.event__details .section__header {
  margin-bottom: 1rem;
}

.section__container2{
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background: linear-gradient(to left top, #a6b2f8, #f0f8c0);
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.reservation {
  position: relative;
  isolation: isolate;
}

.reservation__container h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--header-font-2);
  color: var(--text-dark);
  text-align: center;
}

.reservation__container form {
  max-width: 400px;
  margin-inline: auto;
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.reservation__container input {
  padding: 0.75rem 1rem;
  outline: none;
  border: 1px solid var(--text-dark);
  font-size: 1rem;
  color: var(--text-dark);
}

.reservation__container input::placeholder {
  color: var(--text-dark);
}

.reservation img {
  display: none;
}

.section__accordion{
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  background: linear-gradient(to left top, #ffd2f1, #f0f8c0);
}

.accordion h1 {

  font-size: 2rem;
  font-weight: 500;
  font-family: var(--header-font-2);
  color: var(--text-dark);
  text-align: center;

}

.accordion{
  max-width: 600px;
  width: 100%;
  background: #FFF;
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow:  0 0 4px rgba(0,0,0,0.2);
}
.accordion .accordion-content{
  margin: 10px 0;
  border-radius: 4px;
  background: #FFF7F0;
  border: 1px solid #FFD6B3;
  overflow: hidden;
}
.accordion-content:nth-child(2){
  background-color: #F0FAFF;
  border-color: #CCEEFF;
}
.accordion-content:nth-child(3){
  background-color: #FFF0F3;
  border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
  background-color: #F0F0FF;
  border-color: #CCCCFF;
}
.accordion-content.open{
  padding-bottom: 10px;
}
.accordion-content header{
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion-content.open header{
  min-height: 45px;
}
.accordion-content header .title{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.accordion-content header i{
  font-size: 15px;
  color: #333;
}
.accordion-content .description{
  height: 0;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
}

.footer {
  background-image: url("assets/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__logo img {
  max-width: 250px;
}

.footer__content {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.footer__content p {
  font-weight: 5500;
  color: var(--white);
  line-height: 1.75rem;
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--white);
}

.footer__links li span {
  font-size: 1.25rem;
}

.footer__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--white);
}

.footer__socials a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--white);
  text-align: center;
}

.footer__bar > span{
  color: #ff512f;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

@media (width > 540px) {
  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__card:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .order__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 250px;
  }

  .nav__logo-dark {
    display: flex;
  }

  .nav__logo-white {
    display: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
    z-index: 1;
  }

  .nav__links a {
    color: var(--primary-color);
  }

  .nav__links a:hover {
    color: var(--tertiary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content h2 {
    margin-inline-start: unset;
  }

  .header__content h1 {
    text-align: left;
  }

  .banner__card {
    padding: 1.5rem;
  }

  .banner__card:nth-child(1) {
    grid-area: 1/1/3/2;
  }

  .order__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .event__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .event__image {
    grid-area: 1/2/2/3;
  }

  .event__details,
  .event__details .section__header {
    text-align: left;
  }

  .reservation__container form {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }

  .reservation img {
    display: flex;
    position: absolute;
    z-index: -1;
  }

  .reservation__bg-1 {
    left: 0;
    top: 0;
    width: clamp(100px, 25vw, 350px);
  }

  .reservation__bg-2 {
    right: 0;
    bottom: 0;
    width: clamp(100px, 20vw, 250px);
  }

  .footer__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__links li {
    justify-content: flex-end;
  }

  .footer__socials {
    justify-content: flex-end;
  }
}

@media (width > 1024px) {
  .order__grid {
    gap: 2rem;
  }
}

.wrappe{
  position: absolute;
  top: 20px;
  left: 20px;
  animation: show_toas 1s ease forwards;
}
@keyframes show_toas {
  0%{
    transform: translateX(-100%);
  }
  40%{
    transform: translateX(10%);
  }
  80%, 100%{
    transform: translateX(20px);
  }
}
.wrappe.hide{
  animation: hide_toas 1s ease forwards;
}
@keyframes hide_toas {
  0%{
    transform: translateX(20px);
  }
  40%{
    transform: translateX(10%);
  }
  80%, 100%{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
}
.wrappe .toas{
  background: #fff;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  border-left: 5px solid #2ecc71;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrappe .toas.offline{
  border-color: #ccc;
}
.toas .conten{
  display: flex;
  align-items: center;
}
.conten .ico{
  font-size: 25px;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #2ecc71;
}
.toas.offline .conten .ico{
  background: #ccc;
}
.conten .detail{
  margin-left: 15px;
}
.detail span{
  font-size: 20px;
  font-weight: 500;
}
.detail p{
  color: #878787;
}
.toas .close-ico{
  color: #fd0e0e;
  font-size: 23px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  transition: all 0.3s ease;
}
.close-ico:hover{
  background: #efefef;
}
